<nav class="navbar bg-primary navbar-light bg-light justify-content-between">
  <div class="left">
    {{ $image := resources.Get "images/logo.svg" }}
    <img class="logoImg" src="{{ $image.RelPermalink }}" alt="">
    <h2 class="font-weight-bold m-0">CPS</h2>
  </div>
  <div class="right d-flex">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Link to Youtube" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 addNewSongButton" type="submit">Add New Song</button>
    </form>
    <div class="userInfo">
      <img src="" class="userImg" alt="userImage">
      <span class="userDisplayName"></span>
      <button class="btn btn-outline-danger my-2 my-sm-0 ml-3">Log Out</button>
    </div>
  </div>
</nav>