<nav id="sidebar">
  <div class="sidebar-header">
    <h3 class="userGreeting">Bootstrap Sidebar</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="javascript:void(0)">Song Requests</a>
    </li>
    <li class="active">
      <a href="javascript:void(0)" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Soon</a>
<ul class="collapse list-unstyled" id="pageSubmenu">
    <li>
        <a href="#">Soon</a>
    </li>
    <li>
        <a href="#">Soon</a>
    </li>
    <li>
        <a href="#">Soon</a>
    </li>
</ul>
    </li>

    <li>
      <a href="javascript:void(0)" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Soon</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Soon</a>
        </li>
        <li>
          <a href="#">Soon</a>
        </li>
        <li>
          <a href="#">Soon</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="javascript:void(0)">Options</a>
    </li>

    <li>
      <a href="javascript:void(0)">Contact</a>
    </li>
  </ul>
</nav>