{{ define "main" }}
<div class="login bg-primary">
  <div class="row navi m-3 align-items-center">
    <div class="col-3 d-flex align-items-center justify-content-end">
      {{ $image := resources.Get "images/logo.svg" }}
      <img class="logoImg" src="{{ $image.RelPermalink }}" alt="">
      <h1 class="ml-3 mb-0 text-light">CPS</h1>
    </div>
    <div class="ml-auto col-2 d-flex justify-content-end">
      <i class="fab fa-discord fa-2x text-light mx-2"></i>
      <i class="fab fa-youtube fa-2x text-light mx-2"></i>
      <i class="fab fa-twitter fa-2x text-light mx-2"></i>
      | &nbsp&nbsp <a href="/guide" class="text-light font-weight-bold">Use guide</a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 mx-auto mt-3 pt-3">
        <img class="w-100" src="https://i.imgur.com/1oA9pPT.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="welcome-message col-7 mx-auto text-center text-light font-weight-bold">
        <h1>Let your viewers ask for songs with native <u><a href="https://help.twitch.tv/s/article/channel-points-guide?language=en_US">twitch points</a></u></h1>
        <h4 class="pt-3">Web based you don't need to install anything!</h4>
      </div>
      <div class="col-7 mx-auto d-flex justify-content-center">
        <a class='btn btn-success p-3 loginButton' href="javascript:void(0)">
          <i class="fab fa-twitch"></i><span> Twitch Sign In</span>
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}